In [73]:
import scanpy as sc
import scanpy.external as sce

import numpy as np
import pandas as pd

import seaborn as sns
import matplotlib.pyplot as plt
import os
from pathlib import Path

In [74]:
current_folder = globals()["_dh"][0]
raw_dir = current_folder / ".." / ".." / "data" / "raw" / "sc"
cellbender_dir = current_folder / ".." / ".." / "data" / "prc" / "sc" / "cellbender"
samples = [sample for sample in os.listdir(raw_dir) if not sample.startswith(".")]
np.array(samples)

array(['MS377I', 'CO40', 'MS377N', 'CO85', 'MS229', 'MS377T', 'CO41',
       'CO37', 'MS586', 'MS197', 'MS411', 'CO74', 'CO45', 'MS371N',
       'MS497I', 'MS466', 'MS549T', 'MS549H', 'MS497T'], dtype='<U6')

In [75]:
df_list = []
for smp in samples:
    print(smp)

    corrected = sc.read_10x_h5(cellbender_dir / smp / "cell_bender_matrix_filtered.h5")
    corrected.obs_names_make_unique()
    corrected.var_names_make_unique()

    raw = sc.read_10x_h5(raw_dir / smp / "raw_feature_bc_matrix.h5")
    raw.obs_names_make_unique()
    raw.var_names_make_unique()
    raw = raw[corrected.obs_names, corrected.var_names]
    
    gene_df = corrected.var
    gene_df["diff"] = np.asarray((corrected.X - raw.X).sum(axis=0)).flatten()
    gene_df["sample"] = smp
    gene_df = gene_df.reset_index().rename(columns={"index": "gene"})
    gene_df = gene_df.loc[:, ["gene", "diff", "sample"]]

    df_list.append(gene_df)
df = pd.concat(df_list)
df["condition"] = ["MS" if "MS" in smp else "Ctrl" for smp in df["sample"]]
del df_list

MS377I

/Users/pschafer/miniconda3/envs/torch_env/lib/python3.8/site-packages/scanpy/readwrite.py:281: FutureWarning: X.dtype being converted to np.float32 from uint32. In the next version of anndata (0.9) conversion will not be automatic. Pass dtype explicitly to avoid this warning. Pass `AnnData(X, dtype=X.dtype, ...)` to get the future behavour.
  adata = AnnData(
/Users/pschafer/miniconda3/envs/torch_env/lib/python3.8/site-packages/anndata/_core/anndata.py:1830: UserWarning: Variable names are not unique. To make them unique, call `.var_names_make_unique`.
  utils.warn_names_duplicates("var")
/Users/pschafer/miniconda3/envs/torch_env/lib/python3.8/site-packages/anndata/_core/anndata.py:1830: UserWarning: Variable names are not unique. To make them unique, call `.var_names_make_unique`.
  utils.warn_names_duplicates("var")

CO40

/Users/pschafer/miniconda3/envs/torch_env/lib/python3.8/site-packages/scanpy/readwrite.py:281: FutureWarning: X.dtype being converted to np.float32 from uint32. In the next version of anndata (0.9) conversion will not be automatic. Pass dtype explicitly to avoid this warning. Pass `AnnData(X, dtype=X.dtype, ...)` to get the future behavour.
  adata = AnnData(
/Users/pschafer/miniconda3/envs/torch_env/lib/python3.8/site-packages/anndata/_core/anndata.py:1830: UserWarning: Variable names are not unique. To make them unique, call `.var_names_make_unique`.
  utils.warn_names_duplicates("var")
/Users/pschafer/miniconda3/envs/torch_env/lib/python3.8/site-packages/anndata/_core/anndata.py:1830: UserWarning: Variable names are not unique. To make them unique, call `.var_names_make_unique`.
  utils.warn_names_duplicates("var")

MS377N

/Users/pschafer/miniconda3/envs/torch_env/lib/python3.8/site-packages/scanpy/readwrite.py:281: FutureWarning: X.dtype being converted to np.float32 from uint32. In the next version of anndata (0.9) conversion will not be automatic. Pass dtype explicitly to avoid this warning. Pass `AnnData(X, dtype=X.dtype, ...)` to get the future behavour.
  adata = AnnData(
/Users/pschafer/miniconda3/envs/torch_env/lib/python3.8/site-packages/anndata/_core/anndata.py:1830: UserWarning: Variable names are not unique. To make them unique, call `.var_names_make_unique`.
  utils.warn_names_duplicates("var")
/Users/pschafer/miniconda3/envs/torch_env/lib/python3.8/site-packages/anndata/_core/anndata.py:1830: UserWarning: Variable names are not unique. To make them unique, call `.var_names_make_unique`.
  utils.warn_names_duplicates("var")

CO85

/Users/pschafer/miniconda3/envs/torch_env/lib/python3.8/site-packages/scanpy/readwrite.py:281: FutureWarning: X.dtype being converted to np.float32 from uint32. In the next version of anndata (0.9) conversion will not be automatic. Pass dtype explicitly to avoid this warning. Pass `AnnData(X, dtype=X.dtype, ...)` to get the future behavour.
  adata = AnnData(
/Users/pschafer/miniconda3/envs/torch_env/lib/python3.8/site-packages/anndata/_core/anndata.py:1830: UserWarning: Variable names are not unique. To make them unique, call `.var_names_make_unique`.
  utils.warn_names_duplicates("var")
/Users/pschafer/miniconda3/envs/torch_env/lib/python3.8/site-packages/anndata/_core/anndata.py:1830: UserWarning: Variable names are not unique. To make them unique, call `.var_names_make_unique`.
  utils.warn_names_duplicates("var")

MS229

/Users/pschafer/miniconda3/envs/torch_env/lib/python3.8/site-packages/scanpy/readwrite.py:281: FutureWarning: X.dtype being converted to np.float32 from uint32. In the next version of anndata (0.9) conversion will not be automatic. Pass dtype explicitly to avoid this warning. Pass `AnnData(X, dtype=X.dtype, ...)` to get the future behavour.
  adata = AnnData(
/Users/pschafer/miniconda3/envs/torch_env/lib/python3.8/site-packages/anndata/_core/anndata.py:1830: UserWarning: Variable names are not unique. To make them unique, call `.var_names_make_unique`.
  utils.warn_names_duplicates("var")
/Users/pschafer/miniconda3/envs/torch_env/lib/python3.8/site-packages/anndata/_core/anndata.py:1830: UserWarning: Variable names are not unique. To make them unique, call `.var_names_make_unique`.
  utils.warn_names_duplicates("var")

MS377T

/Users/pschafer/miniconda3/envs/torch_env/lib/python3.8/site-packages/scanpy/readwrite.py:281: FutureWarning: X.dtype being converted to np.float32 from uint32. In the next version of anndata (0.9) conversion will not be automatic. Pass dtype explicitly to avoid this warning. Pass `AnnData(X, dtype=X.dtype, ...)` to get the future behavour.
  adata = AnnData(
/Users/pschafer/miniconda3/envs/torch_env/lib/python3.8/site-packages/anndata/_core/anndata.py:1830: UserWarning: Variable names are not unique. To make them unique, call `.var_names_make_unique`.
  utils.warn_names_duplicates("var")
/Users/pschafer/miniconda3/envs/torch_env/lib/python3.8/site-packages/anndata/_core/anndata.py:1830: UserWarning: Variable names are not unique. To make them unique, call `.var_names_make_unique`.
  utils.warn_names_duplicates("var")

CO41

/Users/pschafer/miniconda3/envs/torch_env/lib/python3.8/site-packages/scanpy/readwrite.py:281: FutureWarning: X.dtype being converted to np.float32 from uint32. In the next version of anndata (0.9) conversion will not be automatic. Pass dtype explicitly to avoid this warning. Pass `AnnData(X, dtype=X.dtype, ...)` to get the future behavour.
  adata = AnnData(
/Users/pschafer/miniconda3/envs/torch_env/lib/python3.8/site-packages/anndata/_core/anndata.py:1830: UserWarning: Variable names are not unique. To make them unique, call `.var_names_make_unique`.
  utils.warn_names_duplicates("var")
/Users/pschafer/miniconda3/envs/torch_env/lib/python3.8/site-packages/anndata/_core/anndata.py:1830: UserWarning: Variable names are not unique. To make them unique, call `.var_names_make_unique`.
  utils.warn_names_duplicates("var")

CO37

/Users/pschafer/miniconda3/envs/torch_env/lib/python3.8/site-packages/scanpy/readwrite.py:281: FutureWarning: X.dtype being converted to np.float32 from uint32. In the next version of anndata (0.9) conversion will not be automatic. Pass dtype explicitly to avoid this warning. Pass `AnnData(X, dtype=X.dtype, ...)` to get the future behavour.
  adata = AnnData(
/Users/pschafer/miniconda3/envs/torch_env/lib/python3.8/site-packages/anndata/_core/anndata.py:1830: UserWarning: Variable names are not unique. To make them unique, call `.var_names_make_unique`.
  utils.warn_names_duplicates("var")
/Users/pschafer/miniconda3/envs/torch_env/lib/python3.8/site-packages/anndata/_core/anndata.py:1830: UserWarning: Variable names are not unique. To make them unique, call `.var_names_make_unique`.
  utils.warn_names_duplicates("var")

MS586

/Users/pschafer/miniconda3/envs/torch_env/lib/python3.8/site-packages/scanpy/readwrite.py:281: FutureWarning: X.dtype being converted to np.float32 from uint32. In the next version of anndata (0.9) conversion will not be automatic. Pass dtype explicitly to avoid this warning. Pass `AnnData(X, dtype=X.dtype, ...)` to get the future behavour.
  adata = AnnData(
/Users/pschafer/miniconda3/envs/torch_env/lib/python3.8/site-packages/anndata/_core/anndata.py:1830: UserWarning: Variable names are not unique. To make them unique, call `.var_names_make_unique`.
  utils.warn_names_duplicates("var")
/Users/pschafer/miniconda3/envs/torch_env/lib/python3.8/site-packages/anndata/_core/anndata.py:1830: UserWarning: Variable names are not unique. To make them unique, call `.var_names_make_unique`.
  utils.warn_names_duplicates("var")

MS197

/Users/pschafer/miniconda3/envs/torch_env/lib/python3.8/site-packages/scanpy/readwrite.py:281: FutureWarning: X.dtype being converted to np.float32 from uint32. In the next version of anndata (0.9) conversion will not be automatic. Pass dtype explicitly to avoid this warning. Pass `AnnData(X, dtype=X.dtype, ...)` to get the future behavour.
  adata = AnnData(
/Users/pschafer/miniconda3/envs/torch_env/lib/python3.8/site-packages/anndata/_core/anndata.py:1830: UserWarning: Variable names are not unique. To make them unique, call `.var_names_make_unique`.
  utils.warn_names_duplicates("var")
/Users/pschafer/miniconda3/envs/torch_env/lib/python3.8/site-packages/anndata/_core/anndata.py:1830: UserWarning: Variable names are not unique. To make them unique, call `.var_names_make_unique`.
  utils.warn_names_duplicates("var")

MS411

/Users/pschafer/miniconda3/envs/torch_env/lib/python3.8/site-packages/scanpy/readwrite.py:281: FutureWarning: X.dtype being converted to np.float32 from uint32. In the next version of anndata (0.9) conversion will not be automatic. Pass dtype explicitly to avoid this warning. Pass `AnnData(X, dtype=X.dtype, ...)` to get the future behavour.
  adata = AnnData(
/Users/pschafer/miniconda3/envs/torch_env/lib/python3.8/site-packages/anndata/_core/anndata.py:1830: UserWarning: Variable names are not unique. To make them unique, call `.var_names_make_unique`.
  utils.warn_names_duplicates("var")
/Users/pschafer/miniconda3/envs/torch_env/lib/python3.8/site-packages/anndata/_core/anndata.py:1830: UserWarning: Variable names are not unique. To make them unique, call `.var_names_make_unique`.
  utils.warn_names_duplicates("var")

CO74

/Users/pschafer/miniconda3/envs/torch_env/lib/python3.8/site-packages/scanpy/readwrite.py:281: FutureWarning: X.dtype being converted to np.float32 from uint32. In the next version of anndata (0.9) conversion will not be automatic. Pass dtype explicitly to avoid this warning. Pass `AnnData(X, dtype=X.dtype, ...)` to get the future behavour.
  adata = AnnData(
/Users/pschafer/miniconda3/envs/torch_env/lib/python3.8/site-packages/anndata/_core/anndata.py:1830: UserWarning: Variable names are not unique. To make them unique, call `.var_names_make_unique`.
  utils.warn_names_duplicates("var")
/Users/pschafer/miniconda3/envs/torch_env/lib/python3.8/site-packages/anndata/_core/anndata.py:1830: UserWarning: Variable names are not unique. To make them unique, call `.var_names_make_unique`.
  utils.warn_names_duplicates("var")

CO45

/Users/pschafer/miniconda3/envs/torch_env/lib/python3.8/site-packages/scanpy/readwrite.py:281: FutureWarning: X.dtype being converted to np.float32 from uint32. In the next version of anndata (0.9) conversion will not be automatic. Pass dtype explicitly to avoid this warning. Pass `AnnData(X, dtype=X.dtype, ...)` to get the future behavour.
  adata = AnnData(
/Users/pschafer/miniconda3/envs/torch_env/lib/python3.8/site-packages/anndata/_core/anndata.py:1830: UserWarning: Variable names are not unique. To make them unique, call `.var_names_make_unique`.
  utils.warn_names_duplicates("var")
/Users/pschafer/miniconda3/envs/torch_env/lib/python3.8/site-packages/anndata/_core/anndata.py:1830: UserWarning: Variable names are not unique. To make them unique, call `.var_names_make_unique`.
  utils.warn_names_duplicates("var")

MS371N

/Users/pschafer/miniconda3/envs/torch_env/lib/python3.8/site-packages/scanpy/readwrite.py:281: FutureWarning: X.dtype being converted to np.float32 from uint32. In the next version of anndata (0.9) conversion will not be automatic. Pass dtype explicitly to avoid this warning. Pass `AnnData(X, dtype=X.dtype, ...)` to get the future behavour.
  adata = AnnData(
/Users/pschafer/miniconda3/envs/torch_env/lib/python3.8/site-packages/anndata/_core/anndata.py:1830: UserWarning: Variable names are not unique. To make them unique, call `.var_names_make_unique`.
  utils.warn_names_duplicates("var")
/Users/pschafer/miniconda3/envs/torch_env/lib/python3.8/site-packages/anndata/_core/anndata.py:1830: UserWarning: Variable names are not unique. To make them unique, call `.var_names_make_unique`.
  utils.warn_names_duplicates("var")

MS497I

/Users/pschafer/miniconda3/envs/torch_env/lib/python3.8/site-packages/scanpy/readwrite.py:281: FutureWarning: X.dtype being converted to np.float32 from uint32. In the next version of anndata (0.9) conversion will not be automatic. Pass dtype explicitly to avoid this warning. Pass `AnnData(X, dtype=X.dtype, ...)` to get the future behavour.
  adata = AnnData(
/Users/pschafer/miniconda3/envs/torch_env/lib/python3.8/site-packages/anndata/_core/anndata.py:1830: UserWarning: Variable names are not unique. To make them unique, call `.var_names_make_unique`.
  utils.warn_names_duplicates("var")
/Users/pschafer/miniconda3/envs/torch_env/lib/python3.8/site-packages/anndata/_core/anndata.py:1830: UserWarning: Variable names are not unique. To make them unique, call `.var_names_make_unique`.
  utils.warn_names_duplicates("var")

MS466

/Users/pschafer/miniconda3/envs/torch_env/lib/python3.8/site-packages/scanpy/readwrite.py:281: FutureWarning: X.dtype being converted to np.float32 from uint32. In the next version of anndata (0.9) conversion will not be automatic. Pass dtype explicitly to avoid this warning. Pass `AnnData(X, dtype=X.dtype, ...)` to get the future behavour.
  adata = AnnData(
/Users/pschafer/miniconda3/envs/torch_env/lib/python3.8/site-packages/anndata/_core/anndata.py:1830: UserWarning: Variable names are not unique. To make them unique, call `.var_names_make_unique`.
  utils.warn_names_duplicates("var")
/Users/pschafer/miniconda3/envs/torch_env/lib/python3.8/site-packages/anndata/_core/anndata.py:1830: UserWarning: Variable names are not unique. To make them unique, call `.var_names_make_unique`.
  utils.warn_names_duplicates("var")

MS549T

/Users/pschafer/miniconda3/envs/torch_env/lib/python3.8/site-packages/scanpy/readwrite.py:281: FutureWarning: X.dtype being converted to np.float32 from uint32. In the next version of anndata (0.9) conversion will not be automatic. Pass dtype explicitly to avoid this warning. Pass `AnnData(X, dtype=X.dtype, ...)` to get the future behavour.
  adata = AnnData(
/Users/pschafer/miniconda3/envs/torch_env/lib/python3.8/site-packages/anndata/_core/anndata.py:1830: UserWarning: Variable names are not unique. To make them unique, call `.var_names_make_unique`.
  utils.warn_names_duplicates("var")
/Users/pschafer/miniconda3/envs/torch_env/lib/python3.8/site-packages/anndata/_core/anndata.py:1830: UserWarning: Variable names are not unique. To make them unique, call `.var_names_make_unique`.
  utils.warn_names_duplicates("var")

MS549H

/Users/pschafer/miniconda3/envs/torch_env/lib/python3.8/site-packages/scanpy/readwrite.py:281: FutureWarning: X.dtype being converted to np.float32 from uint32. In the next version of anndata (0.9) conversion will not be automatic. Pass dtype explicitly to avoid this warning. Pass `AnnData(X, dtype=X.dtype, ...)` to get the future behavour.
  adata = AnnData(
/Users/pschafer/miniconda3/envs/torch_env/lib/python3.8/site-packages/anndata/_core/anndata.py:1830: UserWarning: Variable names are not unique. To make them unique, call `.var_names_make_unique`.
  utils.warn_names_duplicates("var")
/Users/pschafer/miniconda3/envs/torch_env/lib/python3.8/site-packages/anndata/_core/anndata.py:1830: UserWarning: Variable names are not unique. To make them unique, call `.var_names_make_unique`.
  utils.warn_names_duplicates("var")

MS497T

/Users/pschafer/miniconda3/envs/torch_env/lib/python3.8/site-packages/scanpy/readwrite.py:281: FutureWarning: X.dtype being converted to np.float32 from uint32. In the next version of anndata (0.9) conversion will not be automatic. Pass dtype explicitly to avoid this warning. Pass `AnnData(X, dtype=X.dtype, ...)` to get the future behavour.
  adata = AnnData(
/Users/pschafer/miniconda3/envs/torch_env/lib/python3.8/site-packages/anndata/_core/anndata.py:1830: UserWarning: Variable names are not unique. To make them unique, call `.var_names_make_unique`.
  utils.warn_names_duplicates("var")
/Users/pschafer/miniconda3/envs/torch_env/lib/python3.8/site-packages/anndata/_core/anndata.py:1830: UserWarning: Variable names are not unique. To make them unique, call `.var_names_make_unique`.
  utils.warn_names_duplicates("var")

In [76]:
df

              gene  diff  sample condition
0      MIR1302-2HG   0.0  MS377I        MS
1          FAM138A   0.0  MS377I        MS
2            OR4F5   0.0  MS377I        MS
3       AL627309.1   0.0  MS377I        MS
4       AL627309.3   0.0  MS377I        MS
...            ...   ...     ...       ...
36596   AC141272.1   0.0  MS497T        MS
36597   AC023491.2   0.0  MS497T        MS
36598   AC007325.1   0.0  MS497T        MS
36599   AC007325.4 -93.0  MS497T        MS
36600   AC007325.2  -7.0  MS497T        MS

[695419 rows x 4 columns]

In [77]:
df_means = df.groupby(["gene"]).mean().reset_index()
df_means

/var/folders/n8/xnf8qmpj41795tf723xy8mqm0000gn/T/ipykernel_47541/1721304627.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df_means = df.groupby(["gene"]).mean().reset_index()

               gene        diff
0              A1BG  -32.842106
1          A1BG-AS1   -5.105263
2              A1CF   -0.684211
3               A2M -553.947388
4           A2M-AS1   -1.947368
...             ...         ...
36596        ZYG11B  -45.263157
36597           ZYX  -84.263161
36598         ZZEF1  -22.315790
36599  hsa-mir-1253    0.000000
36600   hsa-mir-423    0.000000

[36601 rows x 2 columns]

In [78]:
df_means = df.groupby(["gene"]).mean().reset_index()
with pd.option_context('display.max_rows', 50, 'display.min_rows', 50):
    display(df_means.sort_values(by="diff", ascending=True).head(50))

/var/folders/n8/xnf8qmpj41795tf723xy8mqm0000gn/T/ipykernel_47541/3294009689.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df_means = df.groupby(["gene"]).mean().reset_index()

           gene           diff
25099    MALAT1 -140301.625000
28005     PCDH9  -32252.158203
28667      PLP1  -30418.789062
26023    MT-CO2  -22061.683594
26029    MT-ND4  -21337.525391
26024    MT-CO3  -20051.630859
26020   MT-ATP6  -17842.474609
20539  HSP90AA1  -16775.474609
26022    MT-CO1  -16652.421875
26028    MT-ND3  -15524.579102
29598       QKI  -15315.105469
21245  IL1RAPL1  -14009.210938
26027    MT-ND2  -12689.526367
19001      FTH1  -11226.420898
26026    MT-ND1  -11197.894531
19300      GFAP  -11176.789062
32302      SPP1  -10370.262695
15933       CLU  -10369.894531
19003       FTL  -10227.894531
26025    MT-CYB  -10200.105469
17427       DST   -9250.631836
17587    EEF1A1   -8907.631836
19637     GPM6B   -8710.789062
8401       ACTB   -8324.789062
25083     MAGI2   -8136.579102
29449     PTGDS   -8106.842285
16500    CTNNA3   -7823.842285
29475      PTMA   -7666.052734
25297       MBP   -7598.000000
17137      DLG2   -7578.579102
20977      IGKC   -7330.684082
26419     NCAM2   -7119.105469
30607      RTN4   -6936.157715
25137     MAP1B   -6814.210449
14699     CADM2   -6668.368652
14725     CALM2   -6355.210449
33801    TMSB4X   -6259.052734
14724     CALM1   -6193.631348
29508     PTPRD   -6179.736816
20540  HSP90AB1   -6060.263184
31639   SLC44A1   -6007.263184
25118    MAN2A1   -6002.210449
33226        TF   -5619.368652
12262      ANK2   -5546.420898
28141     PDE4B   -5496.368652
16350     CRYAB   -5482.210449
34654    TUBA1A   -5479.526367
31962    SNHG14   -5471.052734
13733       B2M   -5429.000000
30411     RPL13   -5398.842285